@import "../../master.css";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito';
}

::selection {
	background-color: var(--pew-primary-color);
	color: var(--pew-secondary-color-dark);
}

/* Top bar */

.top-bar {
	position: relative;
	background-color: var(--pew-secondary-color);
	display: flex;
	justify-content: space-between;
	align-content: top;
	padding-bottom: 1.5em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: -1em;
	color: white;
	border-bottom-left-radius: 33%;
	border-bottom-right-radius: 33%;
	margin-bottom: 1rem;
}

.top-bar img {
	width: 2.5em;
	height: auto;
}

.top-bar h1 {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.top-bar h3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.25em;
	text-align: center;
}

.top-bar #settings {
	font-family: "Material Icons";
	font-size: 1.5rem;
	color: var(--pew-primary-color);
	padding: 0;
	height: 1em;
	background: none;
	border: none;
	transform: translateY(0.75em);
}

/* Switch option */

.switch {
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: 0.8rem;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	color: var(--pew-secondary-color);
	cursor: pointer;
}

.switch i {
	align-self: center;
}

.switch input {
	opacity: 0;
}

.switch span {
	height: 1.5rem;
	width: 3rem;
	background-color: var(--pew-darken-color);
	border-radius: 100vw;
	outline-color: var(--pew-secondary-color-dark);
	transition: background-color 500ms;
}

.switch:hover span {
	outline-offset: 2px;
}

.switch span::before {
	content: '';
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	background-color: var(--pew-secondary-color);
	border-radius: 100vw;
	transition: transform 500ms, background-color 500ms;
}

.switch:hover span::before {
	transform: scale(1.1);
}

.switch input:checked ~ span {
	background-color: var(--pew-primary-color-dark);
}

.switch input:checked ~ span::before {
	transform: translateX(1.5rem);
	background-color: var(--pew-primary-color);
}

.switch:hover input:checked ~ span::before {
	transform: translateX(1.5rem) scale(1.1);
}

.switch:focus-within span {
	outline-style: dashed;
	outline-width: 2px;
}

/* Button */

.button-container {
	text-align: center;
	z-index: 1;
}

#inject {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.15rem;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.25em;
	padding-right: 1.25em;

	margin-bottom: 1rem;
	margin-top: 0.5rem;

	border-radius: 10px;
	border-width: 1px;

	background-color: var(--pew-primary-color);
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

	cursor: pointer;

	transition: transform 250ms;
	transition-timing-function: ease-out;
}

#inject:hover {
	transform: translateY(-2px);
}

.button-container div {
	position: absolute;
	left: calc(50vw - 5rem);
	right: calc(50vw - 5rem);
	bottom: calc(1rem + 5px);
	height: 10px;
	background-color: black;
	z-index: -1;
	filter: blur(10px);
	opacity: 0;
}

#inject:hover ~ div {
	opacity: 1;
}

#inject:focus {
	outline-style: dashed;
	outline-color: var(--pew-secondary-color-dark);
	outline-width: 2px;
}

#inject:active {
	background-color: var(--pew-primary-color-semi-dark);
}

#inject::selection {
	background-color: var(--pew-secondary-color);
	color: var(--pew-primary-color);
}

/* Settings */

#settings {
	transition: transform 500ms;
}

#settings:hover {
	transform: translateY(0.7em) rotate(45deg);
}