:root {
	--pew-primary-color: #FFFF00;
	--pew-primary-color-semi-dark: #EEEE00;
	--pew-primary-color-dark: #AAAA00;
	--pew-secondary-color: #663993;
	--pew-secondary-color-dark: #440055;
	--pew-darken-color: #00000066;
}

.notransition,
.notransition::before,
.notransition::after {
	transition: none !important;
}