/* Selection */

.pew-selection-top {
	position: fixed;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	background-color: var(--pew-secondary-color-dark);
	z-index: 10000000;
	padding-right: 20px;
}

.pew-selection-darken {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99998;
}

.pew-selection-top button {
	color: white;
	font-weight: bold;
	margin-right: 15px;
	background-color: var(--pew-secondary-color-dark);
	height: 2rem;
	border: none;
	border-radius: 5px;
	padding: 0.1em;
}

.pew-selection-top button:hover,
.pew-selection-top button:focus {
	background-color: var(--pew-secondary-color);
}

.pew-selection-clickables {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
}

.pew-selection-clickables label {
	position: absolute;
}

.pew-selection-clickables span {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--pew-primary-color);
	opacity: 0;
}

.pew-selection-clickables input {
	opacity: 0;
}

.pew-selection-clickables span:hover,
.pew-selection-clickables input:focus + span {
	opacity: 0.3;
}

.pew-selection-clickables input:checked + span {
	opacity: 0.6;
}

.pew-selection-clickables input:checked + span:hover,
.pew-selection-clickables input:checked:focus + span {
	opacity: 0.4;
}

/* Analysis */

.pew-analysis-overlays {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
}

.pew-analysis-overlays div {
	position: absolute;
	background-color: var(--pew-secondary-color);
	overflow: hidden;
}

.pew-analysis-overlays button {
	position: absolute;
	right: 0;
	top: 0;
	height: 2rem;
	padding-left: 2rem;
	border: none;
	background-color: red;
	border-bottom-left-radius: 10px;
	font-size: 1.25rem;
	font-weight: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	transform: translateX(calc(100% - 2rem));
	transition: transform 500ms;
	cursor: pointer;
}

.pew-analysis-overlays button::before {
	content: 'X';
	position: absolute;
	left: 0.655rem;
}

.pew-analysis-overlays button:hover {
	transform: translateX(0);
}