html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--pew-secondary-color-dark);
	color: white;
}

button {
	cursor: pointer;
}

::selection {
	background-color: var(--pew-primary-color);
	color: black;
}

object {
	position: fixed;
	width: 30%;
	top: 15%;
	left: 5%;
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    align-items: flex-start;
}

.title-bubble {
	font-size: calc(min(0.75rem, 2vw));
	font-family: nunito;
	color: var(--pew-primary-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--pew-secondary-color);
	border-bottom-right-radius: 100vw;
	border-bottom-left-radius: 100vw;
	border: none;
	line-height: 1em;
	width: calc(max(40em, 50%));
}

.title-bubble h1 {
	font-size: calc(min(2rem, 5vw))
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
}

.title-bubble p {
	width: 80%;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 1em;
}

.orgs, .info {
	font-family: nunito;
	font-size: calc(min(2.5vw, 1.3rem));
	border: none;
	color: white;
	padding: 1em;
	border-bottom-left-radius: 2.5em;
	border-bottom-right-radius: 2.5em;
	width: 100%;
	position: relative;
}

.orgs {
	transform: translateY(-15px);
	background-color: var(--pew-org-color);
}

.info {
	transform: translateY(calc(-8rem - 15px));
	background-color: var(--pew-info-color);
	padding-left: 0;
	padding-right: 0;
	width: calc(100% + 2em);
}

.info:hover {
	transform: translateY(-8rem);
}

.orgs:hover, .about:hover {
	transform: translateY(0);
}

.info ul {
	list-style: none;
	height: 7rem;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.info ul li {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.info ul li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.info ul:last-child {
	margin-bottom: 1rem;
}

.about {
	transform: translateY(-10px);
	font-family: nunito;
	font-size: calc(min(2.5vw,1.5rem));
	color: white;
	background-color: var(--pew-about-us-color);
	border: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 1em;
	margin-right: 2em;
	border-bottom-left-radius: 2.5em;
	border-bottom-right-radius: 2.5em;
}

.top button {
	padding-top: 20px;
	transition: transform 0.1s ease-in-out;
	margin: 0.5em;
	margin-top: 0;
}

.text {
	position: absolute;
	font-family: nunito;
	text-align: justify;
	top: 10%;
	right: 10%;
	width: 50%;
	font-size: calc(min(1.5rem, 2.5vw));
}

.socials {
	position: fixed;
	left: 5px;
	bottom: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.socials button {
	background: none;
	border: none;
	position: relative;
}

.socials button i {
	color: var(--pew-primary-color);
	position: absolute;
	height: 100%;
	line-height: 50px;
	left: 60px;
	font-size: 1.1em;
}

.socials button:hover i {
	text-decoration: underline;
}

.orgs-page {
	visibility: hidden;
	z-index: 500;
	background-color: var(--pew-secondary-color-dark);
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
	transition: transform 1s ease-in-out;
	font-size: calc(min(1rem, 2.5vw));
}

.orgs-top {
	position: absolute;
	height: 25%;
	background-color: var(--pew-org-color);
	width: 100%;
	border-bottom-left-radius: 5em;
	border-bottom-right-radius: 5em;
}

.orgs-top p {
	font-family: nunito;
	margin-left: 2em;
	margin-right: 2em;
}

.orgs-top b {
	color: white;
}

.orgs-top button {
	position: absolute;
	font-size: 1.1rem;
	top: 20px;
	left: 5px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 100%;
	font-weight: bolder;
	line-height: 100%;
    text-indent: -0.25em;
}

.orgs-links {
	position: absolute;
	top: 40%;
	bottom: 15%;
	left: 5%;
	right: 5%;
	margin: 2em;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.orgs-links a {
	font-family: nunito;
	width: 14vw;
	height: 14vw;
	margin: 2vw;
	border-radius: 100%;
	border: none;
	position: relative;
	font-size: inherit;
	cursor: pointer;
}

.orgs-links a img {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 100%;
}

.orgs-links a label {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	color: white;
	font-size: 0.75em;
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
}

.orgs-links a div {
	visibility: hidden;
	color: inherit;
	z-index: 20;
	position: absolute;
	width: 40vw;
	height: 100%;
	background-color: inherit;
	display: flex;
	align-items: center;
	top: 0;
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 2em;
	color: white;
}

.orgs-links-enabled a:hover div {
	visibility: visible;
}

.orgs-links-enabled a div::after {
	content: '';
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background-color: inherit;
	position: absolute;
}

.orgs-links .left div {
	left: 115%;
}

.orgs-links .left div::after {
	left: -5px;
}

.orgs-links .right div {
	right: 115%;
}

.orgs-links .right div::after {
	right: -5px;
}

.info-page {
	position: absolute;
	width: 100%;
	min-height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	background-color: var(--pew-secondary-color-dark);
}

.info-top button {
	position: absolute;
	font-size: 1.1rem;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 100%;
	font-weight: bolder;
	line-height: 100%;
    text-indent: -0.25em;
}

.info-top-bubble {
	position: absolute;
	width: calc(max(10vw, 15rem));
	height: calc(max(5vw, 7.5rem));
	border-bottom-left-radius: 100vw;
	border-bottom-right-radius: 100vw;
	display: flex;
    align-items: flex-start;
    align-content: center;
    font-family: 'Nunito';
    font-size: 2rem;
    justify-content: center;
    color: white;
    text-align: center;
}

.info-ep, .info-se, .info-su {
	font-family: nunito;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2em;
	top: 0;
	left: 0;
	position: absolute;
	visibility: hidden;
}

.info-ep p:first-of-type,
.info-se p:first-of-type,
.info-su p:first-of-type {
	margin-left: calc(max(10vw, 15rem));
}

.info-ep p,
.info-se p,
.info-su p {
	max-width: 60%;
}

.info-ep h2:first-of-type,
.info-se h2:first-of-type,
.info-su h2:first-of-type {
	margin-top: 2em;
}

.info-su .columns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: absolute;
	top: 100%;
	left: -10%;
	right: 25%;
}

.about-page {
	visibility: hidden;
	font-family: nunito;
	color: white;
	background-color: var(--pew-info-sensory-bg);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	transform: translateY(-100%);
	transition: transform 1s ease-in-out;
}

.about-top button {
	position: absolute;
	font-size: 1.1rem;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 100%;
	font-weight: bolder;
	line-height: 100%;
    text-indent: -0.25em;
}

.about-top-thing {
	text-align: center;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20%;
	background-color: var(--pew-info-sensory);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	display: flex;
	flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.about-body {
	position: absolute;
	top: 20%;
	color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: justify;
}

.about-body a {
	color: var(--pew-secondary-color);
}

.about-body p:first-of-type {
	width: 40%;
}

.juani {
	position: absolute;
	top: 25%;
	left: 45%;
	text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.who h1 {
	margin-bottom: 0;
	line-height: 1rem;
}

.who img {
	transform: translateY(10px);
}

.person-photo {
	display: flex;
}

.person-photo img {
	border-radius: 100vw;
	margin-left: 5px;
	margin-right: 5px;
}

.person-photo div {
	visibility: hidden;
	position: absolute;
	color: black;
	text-shadow: none;
	background-color: #FFFF54;
	padding: 10px;
	border-radius: 20px;
	z-index: 25;
	width: 40vw;
	top: 80%;
}

.person-photo div::selection {
	color: var(--pew-primary-color);
	background-color: var(--pew-secondary-color);
}

.person-photo div::after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background-color: #FFFF54;
	top: -10px;
}

.person-photo:hover div {
	visibility: visible;
}

.juani div {
	top: 120%;
}

.jere div {
	right: 1em;
}

.caro div::after {
	left: 20%;
}

.jere div::after {
	right: 30%;
}

.juani div::after {
	left: 5%;
}